/* 
csgo colors: 
blue: #0a0c1c
orange: #e08b22
*/
* {
    margin: 0;
    padding: 0;
}
html {
    background: #222;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    color: white;
    border: none;
    background: #222;
    font-size: 2em;
}
.switchButton {
    /* color: white;
    border: none;
    background: #111;
    font-size: 1.2em;
    margin-top: 0.3em;
    flex-grow: 1; */
}

.rankingsTable {
    width: 95%;
    background: #001f4c;
    border-radius: 10px;
}

.rankingsTableContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}
th,
td {
    font-size: 1.2em;
    padding-left: 1em;
    text-align: left;
}
