/* 
csgo colors: 
blue: #0a0c1c
orange: #e08b22
*/
* {
    margin: 0;
    padding: 0;
}
html {
    background: #222;
    color: #fff;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBrand {
    font-size: 1.5em;
    flex-grow: 2;
}

.navLink {
    font-size: 1.2em;
    padding-right: 3em;
    text-align: right;
    flex-grow: 1;
}
.rankingsTable {
    width: 95%;
    background: #001f4c;
    border-radius: 10px;
}

.rankingsTableContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}
th,
td {
    font-size: 1.2em;
    padding-left: 1em;
    text-align: left;
}
